.layui-my-logo{
    color: whitesmoke;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 1px;
}
.layui-my-menu{
    background-color: #23262E;
    text-align: center;
}
/*图标插入*/
.icon-typeMng{
    background: url(../images/icon_typemanage_two_16.svg) no-repeat;
    /*fill: rgba(203, 203, 204, 0.98);*/
    width: 20px;
    height: 20px;
    position: absolute;
    left:34px;
    top:15px;
}
.icon-userMng{
    background: url(../images/icon_usermanage3_two_16.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left:50px;
    top:15px;
}
.icon-oderMng{
    background: url(../images/icon_oder_two_16.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left:50px;
    top:15px;
}
/*隐藏菜单箭头*/
a > span{
    border-style: hidden !important;
}
li > a{
    font-size: 14px!important;
}
dd > a {
    font-size: 12px!important;
}
.layui-nav-bar{
    transition-duration: 0 !important;
    background-color:#23262E !important;
}
.layui-nav-myli a:hover{
    background-color:#23262E !important;
    color: white;
}
.menu-dd a{
    background-color:#23262E !important;
}
.menu-dd a:hover{
    background-color:#0f1114 !important;
    color: white;
}
.menu-dd a:active{
    background-color: #0f1114 !important;
    color: white;
}
.nav-footer {
    position: fixed;
    bottom: 20px;
    color: rgba(255, 255, 255, .7);
}
.menu-footer-two{
    display: flex;
}
#resetpwd , #logout {
    width: 100px !important;
    margin-top: 15px;
}
#resetpwd a, #logout a{
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 14px;
}
.editPwd{
    background: url(../images/icon_editpass.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 6px;
    bottom: -3px;
}
.logOut{
    background: url(../images/icon_logout.svg) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 75px;
    bottom: -3px;
}
