.add-box, .delete-box, .edit-box{
    height: 60px;
    width: 100%;
    display: flex;
}

.typeName_input{
    width: 150px;
    height:50px;
}

.table-content{
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.add-btn, .edit-btn, .delete-btn{
    height:35px !important;
    padding: 0 25px !important;
    border-radius: 20px !important;
    line-height: 35px !important;
}
/*类型表格分页*/
.layui-laypage-em, .layui-laypage-btn{
    background: #23262E !important;
    color: whitesmoke;
    height: 28px;
}
.layui-table{
    color: #333;
}
.layui-table-page select:hover, .layui-table-page select:active,
.layui-table-page select:focus, .layui-table-page select:visited,
.layui-table-page select:focus-within{
    border-color: #0f1114 !important;
    border-width: 1px;
}
.edit-input{
    /*color: rgb(115, 115, 115);*/
}